In [1]:
from area_energia import AreaEnergia

ae = AreaEnergia()

In [4]:
ae.distribucion_certificados_consumo

       ID Antigüedad Letra  Total Certificados  Media Consumo
0     1.1    <= 1800     A            0.000000            0.0
1     1.1    <= 1800     B            0.000000            0.0
2     1.1    <= 1800     C            3.333333           44.0
3     1.1    <= 1800     D            3.333333           52.0
4     1.1    <= 1800     E            6.666667          125.5
...   ...        ...   ...                 ...            ...
5476  9.5    2011-21     C                 NaN            0.0
5477  9.5    2011-21     D                 NaN            0.0
5478  9.5    2011-21     E                 NaN            0.0
5479  9.5    2011-21     F                 NaN            0.0
5480  9.5    2011-21     G                 NaN            0.0

[5481 rows x 5 columns]

In [15]:
ae.distribucion_certificados_consumo[ae.distribucion_certificados_consumo['Letra'].isin(['F', 'G'])].groupby(['ID', 'Letra']).sum(numeric_only=True)['Total Certificados']

ID   Letra
1.1  F        267.749497
     G        307.398388
1.2  F        239.078743
     G        396.622855
1.3  F        278.484676
                 ...
9.3  G        494.277291
9.4  F        350.141874
     G        929.050330
9.5  F        117.832446
     G        261.741611
Name: Total Certificados, Length: 174, dtype: float64

In [2]:
ae._e1_get_potencial_pv()

In [3]:
ae.potencial_pv

      Residencial    Comercial   Industrial  ServiciosPúblicos  Agricultura
1.1   4410.666601   390.622173     0.000000        1500.694213     0.000000
1.2   6237.886014  1024.246709    89.912286        1785.026516     0.000000
1.3   5653.322327   310.475052   154.972302         791.475198     0.000000
1.4   5479.479380   242.982418    12.519380         441.606010     0.000000
1.5   4208.398235   303.736553    16.003117         555.180868     0.000000
..            ...          ...          ...                ...          ...
9.1  12924.520949   540.762930    53.839046         651.303718     0.000000
9.2  13026.735706   722.356280   385.089357         639.146325     0.000000
9.3   4918.780148   357.316180  3301.954096         157.200709     0.000000
9.4   8235.247732    92.285937     0.000000         732.318849     0.000000
9.5   3476.809002    40.756824  3075.428743       13465.247274     9.970682

[87 rows x 5 columns]

In [5]:
from math import floor

floor([50, -1])

TypeError: must be real number, not list

In [1]:
from area_urbanismo import AreaUrbanismo

au = AreaUrbanismo()

In [3]:
x = au._get_area_tipologias()

c:\Users\pablo\Anaconda3\envs\py310\lib\site-packages\IPython\core\interactiveshell.py:3457: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [6]:
x.index

Index(['1.1', '1.2', '1.3', '1.4', '1.5', '1.6', '10.1', '10.2', '10.3',
       '10.4', '10.5', '10.6', '10.7', '11.1', '11.2', '11.3', '11.4', '11.5',
       '12.1', '12.2', '12.3', '12.4', '12.5', '13.1', '13.2', '13.3', '13.4',
       '13.5', '14.1', '14.2', '15.1', '15.2', '15.3', '16.1', '16.2', '17.1',
       '17.2', '17.3', '17.4', '17.5', '17.6', '17.7', '18.1', '18.2', '19.1',
       '19.2', '19.3', '19.4', '19.5', '19.6', '19.7', '19.8', '2.1', '2.2',
       '2.3', '3.1', '3.2', '3.3', '3.4', '4.1', '4.2', '4.3', '4.4', '5.1',
       '5.2', '5.3', '5.4', '5.5', '6.1', '6.2', '6.3', '6.4', '7.1', '7.2',
       '7.3', '7.4', '7.5', '8.1', '8.2', '8.3', '8.4', '8.5', '9.1', '9.2',
       '9.3', '9.4', '9.5'],
      dtype='object', name='ID')